{% extends "layout.html" %}

{% block title %}
    My Matches
{% endblock %}

{% block main %}
<h2>Change Password</h2>
<div>
    <p>
        Here are some people currently online that have similar interests to you! Who would you like to chat with?
    </p>
</div>
<div>
    <form action="/match" method="post">
    <label for="person">Language Preference:</label>
        {% for acc in people %}
        <input type="radio" id="{{ acc[0] }}" name="person" value="{% acc[1] %}" checked>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Chat!</button>
    </form>
</div>
{% endblock %}